<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
      Playlist
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deslogar()">
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let musica of listaDeMusicas">
    <ion-item (click)="editar(musica)">
      <ion-avatar>
        <img src="{{ musica.downloadURL }}" />
      </ion-avatar>
      <ion-label id="musica">{{ musica.nome }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="success" (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
