ion-header {
  ion-toolbar {
    ion-title#titulo {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #00cc00; 
      background-color: #f0f0f0; 
      padding: 10px; 
      border-bottom: 2px solid #00cc00;
    }
  }
}

ion-back-button {
  color: #00cc00; 

  &:hover {
    color: #009900; 
  }
}

ion-toggle {
  background-color: #00cc00; 
  border-radius: 20px;
  padding: 5px 10px; 
  color: #fff; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #009900;
  }
}

ion-button {
  background-color: #009900; 
  color: #fff; 
  border: 1px solid #00cc00;
  border-radius: 5px; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #00cc00; 
  }
}
