<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="titulo">Playlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="detalharForm" (ngSubmit)="editar()" novalidate>

    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" formControlName="nome"></ion-input>
    </ion-item>
    <span *ngIf="detalharForm.get('nome')?.touched && detalharForm.get('nome')?.errors?.['required']">O campo nome é obrigatório</span>
    <ion-item>
      <ion-input label="Cantor(a)" placeholder="Insira o cantor(a)" formControlName="cantor"></ion-input>
    </ion-item>
    <span *ngIf="detalharForm.get('cantor')?.touched && detalharForm.get('cantor')?.errors?.['required']">O campo cantor é obrigatório</span>
    <ion-item>
      <ion-select label="Gênero" placeholder="Selecione" formControlName="genero">
        <ion-select-option value="0">POP</ion-select-option>
        <ion-select-option value="1">Rock</ion-select-option>
        <ion-select-option value="2">RAP</ion-select-option>
        <ion-select-option value="3">Trap</ion-select-option>
        <ion-select-option value="4">MPB</ion-select-option>
        <ion-select-option value="5">Sertanejo</ion-select-option>
        <ion-select-option value="6">Funk</ion-select-option>
        <ion-select-option value="7">R&B</ion-select-option>
        <ion-select-option value="8">Axé</ion-select-option>
        <ion-select-option value="9">Blues</ion-select-option>
        <ion-select-option value="10">Country</ion-select-option>
        <ion-select-option value="11">Eletrônica</ion-select-option>
        <ion-select-option value="12">Forró</ion-select-option>
        <ion-select-option value="13">Gospel</ion-select-option>
        <ion-select-option value="14">Hip Hop</ion-select-option>
        <ion-select-option value="15">Jazz</ion-select-option>
        <ion-select-option value="16">Música Clássica</ion-select-option>
        <ion-select-option value="17">Pagode</ion-select-option>
        <ion-select-option value="18">Reggae</ion-select-option>
        <ion-select-option value="19">Samba</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="detalharForm.get('genero')?.touched && detalharForm.get('genero')?.errors?.['required']">O campo genero é obrigatório</span>
    <ion-item>
      <ion-input label="Ano de Lançamento" type="number" placeholder="Insira o ano" formControlName="data"></ion-input>
    </ion-item>
    <span *ngIf="detalharForm.get('data')?.touched && detalharForm.get('data')?.errors?.['required']">O campo ano de lançamento é obrigatório</span>
    <ion-item>
      <ion-input label="Tempo de Duração" placeholder="MM:SS" formControlName="duracao"></ion-input>
    </ion-item>
    <span *ngIf="detalharForm.get('duracao')?.touched && detalharForm.get('duracao')?.errors?.['required']">O campo tempo de duracao é obrigatório</span>
    <ion-item>
      <ion-button size="default" color="success" shape="round">
        <input type="file" (change)="uploadFile($event)">
      </ion-button>
    </ion-item>
    
    <ion-button expand="full" color="success" (click)="editar()">Salvar</ion-button>
    <ion-button expand="full" (click)="mensagemDeConfirmacao()" color="danger">Excluir</ion-button>
    </form>
  </ion-list>
</ion-content>
